In [98]:
import pandas

In [99]:
dataset = pandas.read_csv("./lyrics_2500_all_info.csv")

In [100]:
dataset.head()

,Unnamed: 0,artist,title,train,test
0,0,André Hazes,Kleine Jongen,kleine jongen\nje bent op deze wereld\ndus zal...,kleine jongen\nje bent op deze wereld\ndus zal...
1,1,André Hazes,Zij Gelooft In Mij,ze lag te slapen\nk vroeg haar gisteravond\nwa...,ze lag te slapen\nk vroeg haar gisteravond\nwa...
2,2,André Hazes,"Bloed, Zweet En Tranen",ik heb het goed gedaan\nmaar ook zo fout gedaa...,ik heb het goed gedaan\nmaar ook zo fout gedaa...
3,3,André Hazes,Zeg Maar Niets Meer,zeg maar niets meer\nik ga wel weg als je dat ...,zeg maar niets meer\nik ga wel weg als je dat ...
4,4,André Hazes,Ik Leef m’n Eigen Leven,ik sluit mn ogen en denk na\nen alles gaat dan...,ik sluit mn ogen en denk na\nen alles gaat dan...

In [101]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2507 entries, 0 to 2506
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2507 non-null   int64
 1   artist      2507 non-null   object
 2   title       2507 non-null   object
 3   train       2499 non-null   object
 4   test        2499 non-null   object
dtypes: int64(1), object(4)
memory usage: 98.1+ KB

In [102]:
dataset.artist.value_counts()

artist
André Hazes           284
K3                    283
BLØF                  205
Boudewijn De Groot    188
Frans Bauer           158
                     ...
Hepie & hepie           1
Hein simons             1
Douwe Bob               1
Hanny                   1
Rika jansen             1
Name: count, Length: 64, dtype: int64

In [103]:
lyrical_data = dataset.drop(columns=["Unnamed: 0", "artist", "title", "test"])

In [104]:
lyrical_data = lyrical_data.rename(columns={"train": "lyrics"})

In [105]:
lyrical_data.head()

                                              lyrics
0  kleine jongen\nje bent op deze wereld\ndus zal...
1  ze lag te slapen\nk vroeg haar gisteravond\nwa...
2  ik heb het goed gedaan\nmaar ook zo fout gedaa...
3  zeg maar niets meer\nik ga wel weg als je dat ...
4  ik sluit mn ogen en denk na\nen alles gaat dan...

In [106]:
lyrical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2507 entries, 0 to 2506
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  2499 non-null   object
dtypes: object(1)
memory usage: 19.7+ KB

In [107]:
lyrical_data = lyrical_data.astype("string")

In [108]:
lyrical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2507 entries, 0 to 2506
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lyrics  2499 non-null   string
dtypes: string(1)
memory usage: 19.7 KB

In [109]:
lyrical_data.to_csv(r"./lyrics_2500.csv", index=False)